<div id="headline" style="width:80%; margin:auto; border:solid thin green;">
  <%= strip_tags(@article.title) %>
</div>

<div id="article-body" style="width:80%; margin:auto; border:solid thin;">
  <%= strip_tags(@article.content) %>
</div>
